<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime Stat DB</title>
    <link rel="icon" href="crimestat.png">
     <!--google font API-->
     <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
     <!--bootstrap CDN-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <!-- <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div> -->
    <section id="header">
        <div class="col-lg-6">
            <b><img class="logo" src="crimestat.png" alt="" width="120" height="100"></b>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav menu">
                  <li class="nav-item menu-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active" href="#">ABOUT</a>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active" href="#">QUERY</a>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active" href="#">GITHUB</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </section>

    <div class="titlebg">
            <h1 class="txtAnimate">Hello! Welcome to Crime Stat DB</h1>
            <p class="txtAnimate">Crime Stat DB is exactly what is sounds like. A crime statistics database!<br></p>
            <p class="txtAnimate">Inside you'll find all the tools you need to query crime information about all the <br></p>
            <p class="txtAnimate">cities, counties, and regions across the United States.<br></p>
            <p class="txtAnimate">Although Crime Stat DB was built to be pretty intuitive feel free to access the "About" page<br></p>
            <p class="txtAnimate">for information on advanced queries and using the app.<br></p>
    </div>

        <!-- <div class="row-container row">
        <div class="col-lg-6">
            <b><img class="logo" src="crimestat.png" alt="" width="120" height="100"></b>
        </div> -->

        <!-- <div class="col-lg-6">
            <b>
                <form action="/" class="item" method="post">
                    <input type="text" name="itemAdd" placeholder="Start New Query" autocomplete="off">
                    <button name="list" type="submit" value="<%= listTitle %>">+</button>
                </form> 
            </b>
        </div> -->
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>

